<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <a>Category: </a>
    <span th:text="${category.categoryName}">category</span><br>
    <img th:src="${image}" width="100" height="100"><br>
    <div th:each="heading: ${headings}">
        <a>Heading: </a>
        <span th:text="${heading.headingName}">Type</span><br>
        <a th:href="'find-by-heading-resource?heading='+${heading.headingName}">Search by heading </a><br>
        <a>-------------------------</a>
    </div>
</div>
<a href="my-home-page">HomePage</a><br>
<a href="/logout">Выход</a><br>
</body>
</html>