<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/category-update}" th:method="post">
        <!--<div >-->
            <!--<select name="id">-->
                <!--<option th:each="category: ${categories}"-->
                        <!--th:text="${category.categoryName}"-->
                        <!--th:value="${category.id}">-->
                     <!--Category-->
                <!--</option>-->
            <!--</select>-->
        <!--</div>-->
        <div th:each="category: ${categories}">
            <input type="checkbox" name="id" th:text="${category.categoryName}" th:value="${category.id}" id="myCheck"  onclick="myFunction()">
            <input type="hidden" name="version" th:value="${category.version}" id="text" style="display:none"> <!--как то выдавать именно нужную версионность-->
        </div>
        <div>
            <span th:text="categoryName ">categoryName: </span>
            <input type="text" name="categoryName" required placeholder="categoryName">
        </div>
        <div>
            <span th:text="foto ">Foto: </span>
            <input type="text" name="foto">
        </div>
        <div>
            <input type="submit" value="update">
        </div>
<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
    </form>
</div>
</body>
</html>