<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/category-save}" th:method="post">
        <div>
            <span th:text="categoryName ">categoryName: </span>
            <input type="text" name="categoryName" required placeholder="categoryName">
        </div>
        <div>
            <span th:text="foto ">Foto: </span>
            <input type="text" name="foto">
        </div>
        <div>
            <input type="submit" value="save">
        </div>
    </form>
</div>
<a href="my-home-page">HomePage</a><br>
<a href="/logout">Выход</a><br>
</body>
</html>