<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/comment-update}" th:method="post">
        <div>
            <a>Comment: </a>
            <select name="commentId">
                <option th:each="comment: ${commentaries}"
                        th:text="${comment.comment}"
                        th:value="${comment.id}">Comment
                </option>
            </select>
        </div>
        <div>
            <span th:text="Text ">Text: </span>
            <input type="text" name="text" required placeholder="Text">
        </div>
        <div>
            <input type="submit" value="save">
        </div>
    </form>
</div>
<a class="btn btn-outline-primary" href="my-home-page">HomePage</a><br>
<a class="btn btn-outline-primary" href="/logout">Выход</a><br>
</body>
</html>