<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/filter.html}" th:method="post">
        <div>
            <span th:text="Ресурсы  ">Ресурсы</span>
        </div>
        <div th:each="resource: ${resources}">
            <span th:text="${#strings.capitalize(#strings.toLowerCase(resource.resourceName))}"></span>
            <input type="checkbox" name="resource" th:value="${resource.resourceName}">
        </div>
        <br>
        <div>
            <span th:text="Категории ">Категории</span>
        </div>
        <div th:each="category: ${categories}">
            <span th:text="${#strings.capitalize(#strings.toLowerCase(category.categoryName))}"></span>
            <input type="checkbox" name="category" th:value="${category.categoryName}">
        </div>
        <br>
        <div>
            <span th:text="Price ">Price: </span>
            <input type="number" name="price">
        </div>
        <div>
            <span th:text="Limit ">Price: </span>
            <input type="number" name="limit" required placeholder="Limit">
        </div>
        <div>
            <input type="submit" value="Validation">
        </div>
    </form>
</div>
</body>
</html>