<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/heading-update}" th:method="post">
        <div>
            <select name="id">
                <option th:each="heading: ${headings}"
                        th:text="${heading.headingName}"
                        th:value="${heading.id}">Heading
                </option>
            </select>
        </div>
        <div>
            <span th:text="HeadingName ">HeadingName: </span>
            <input type="text" name="headingName" required placeholder="headingName">
        </div>
        <div>
            <select name="categoryId">
                <option th:each="category: ${categories}"
                        th:text="${category.categoryName}"
                        th:value="${category.id}">Category
                </option>
            </select>
        </div>
        <div>
            <input type="submit" value="update">
        </div>
    </form>
</div>
<a class="btn btn-outline-primary" href="my-home-page">HomePage</a><br>
<a class="btn btn-outline-primary" href="/logout">Выход</a><br>
</body>
</html>