<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<img th:src="${image}" width="100" height="100"><br>
<span th:text="${person.login}">Type</span><br>
<span th:text="${person.identification}">Type</span><br>
<span th:text="${person.age}">Type</span><br>
<span th:text="${person.mail}">Type</span><br>
<span th:text="${person.personRole}">Type</span><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="category-delete">CategoryDelete</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="category-update">CategoryUpdate</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="category-save">CategorySave</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="change-person-role">ChangePersonRole</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="commentaries">AllCommentaries</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="heading-delete">HeadingDelete</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="heading-save">HeadingSave</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="heading-update">HeadingUpdate</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="person">AllPerson</a><br>
</div>
<div sec:authorize-url = "/person-delete">
<a href="person-delete">PersonDelete</a><br>
</div>
<a href="person-update">PersonUpdate</a><br>
<a href="my-resources">AllMyResources</a><br>
<a href="resource-save">SaveResource</a><br>
<div sec:authorize-url = "/person-delete">
<a href="roles">Roles</a><br>
</div>
<a href="resource">AllResources</a><br>
<a href="view-store-basket">MyBasket</a><br>
<a href="/logout">Выход</a><br>
</body>
</html>