<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="category-delete">CategoryDelete</a><br>
<a href="category-update">CategoryUpdate</a><br>
<a href="category-save">CategorySave</a><br>
<a href="change-person-role">ChangePersonRole</a><br>
<a href="commentaries">AllCommentaries</a><br>
<a href="heading-delete">HeadingDelete</a><br>
<a href="heading-save">HeadingSave</a><br>
<a href="heading-update">HeadingUpdate</a><br>
<a href="person">AllPerson</a><br>
<a href="person-delete">PersonDelete</a><br>
<a href="person-update">PersonUpdate</a><br>
<a href="my-resources">AllMyResources</a><br>
<a href="resource-save">SaveResource</a><br>
<a href="roles">Roles</a><br>
<a href="view-store-basket">MyBasket</a><br>
</body>
</html>