<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="resource: ${resources}">
    <span th:text="${resource.resourceName}">Type</span><br>
    <span th:text="${resource.category}">Type</span><br>
    <span th:text="${resource.person}">Type</span><br>
    <span th:text="${resource.price}">Type</span><br>
    <span th:text="${resource.text}">Type</span><br>

    <a th:href="'resource-info?id='+${resource.id}">Подробности</a><br>
    <div class="container">
        <form th:action="@{/resource-delete}" th:method="post">
            <div>
                <input type="hidden" name="id" th:value="${resource.id}">
            </div>
            <div>
                <input type="submit" value="DeleteResource">
            </div>
        </form>
    </div>
    <a>-------------------------</a>
</div>
<a href="add-heading-by-resource">AddHeadingToMyResources</a><br>
<a href="my-home-page">HomePage</a><br>
<a href="/logout">Выход</a><br>
</body>
</html>