<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/upload/1.jpg" width="100" height="100"><br>
<span th:text="${person.login}">Type</span><br>
<span th:text="${person.identification}">Type</span><br>
<span th:text="${person.age}">Type</span><br>
<span th:text="${person.mail}">Type</span><br>
<span th:text="${person.personRole}">Type</span><br>
<a href="/resource">AllResource</a><br>
<a href="/my-home-page">HomePage</a><br>
</body>
</html>