<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:each="person: ${persons}">
        <!--<span th:text="${person.avatar}">Type</span><br>-->
        <span>Login: </span>
        <span th:text="${person.login}">Type</span><br>

        <span th:text="${person.identification}">Type</span><br>
        <span>Age: </span>
        <span th:text="${person.age}">Type</span><br>
        <span>Mail: </span>
        <span th:text="${person.mail}">Type</span><br>
        <span>Role: </span>
        <span th:text="${person.personRole}">Type</span><br>
        <a>-------------------------</a>
    </div>
</div>
<a class="btn btn-outline-primary" href="my-home-page">HomePage</a><br>
<a class="btn btn-outline-primary" href="/logout">Выход</a><br>
</body>
</html>