<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="resource: ${resources}">
    <span th:text="${resource.resourceName}">Type</span><br>
    <span th:text="${resource.category}">Type</span><br>
    <span th:text="${resource.person}">Type</span><br>
    <span th:text="${resource.price}">Type</span><br>
    <span th:text="${resource.text}">Type</span><br>
    <a th:href="'resource-info?id='+${resource.id}">Подробности</a><br>
    <a>-------------------------</a>
</div>
<a href="my-home-page">HomePage</a><br>
<a href="category">Category</a><br>
<a href="filter">Filter</a><br>
<a href="/logout">Выход</a><br>
</body>
</html>