<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="resource: ${resources}">
    <span th:text="${resource.resourceName}">Type</span><br>
    <span th:text="${resource.category}">Type</span><br>
    <span th:text="${resource.person}">Type</span><br>
    <span th:text="${resource.price}">Type</span><br>
    <span th:text="${resource.text}">Type</span><br>
    <a>------------------------------------------</a>
</div>
<div th:each="CountDto: ${countPages}">
    <!--<a th:href="@{'/resources-by-criteria' + '?resourceName='+ ${filter.resource} + '&category=' + ${filter.category}-->
    <!--+'&price=' + ${filter.price} + '&offset=' + ${((filter.constLimit*CountDto.page)-((filter.constLimit*CountDto.page)/((filter.constLimit*CountDto.page)/2)))}-->
    <!--+ '&limit=' + ${filter.constLimit*CountDto.page} + '&constLimit=' + ${filter.constLimit}-->
    <!--+ '&page=' + ${CountDto.page}}">-->
        <!--<span th:name="count" th:text="${CountDto.page}">Type</span>-->
    <!--</a>-->
    <a th:href="@{'/resources-by-criteria' + '?resourceName='+ ${filter.resource} + '&category=' + ${filter.category}
    +'&price=' + ${filter.price} + '&offset=' + ${(filter.offset)}
    + '&limit=' + ${filter.limit} + '&constLimit=' + ${filter.constLimit}
    + '&page=' + ${CountDto.page}}">
        <span th:name="count" th:text="${CountDto.page}">Type</span>
    </a>
</div>
</form>
</div>
</body>
</html>